<header>
    <h3>Escola</h3> <h3>do</h3> <h1>ARANHA</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/contato">Contato</a>
        <div class="icon-ascess">
            <a href="/login-aluno"><i class="fas fa-user-graduate"></i> Alunos</a>
            <a href="/login-professor"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
            <a href="/login-adm"><i class="fas fa-user-tie"></i> Administradores</a>
        </div>
    </nav>
</header>
